
@{
    ViewData["Title"] = "CarAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CarModel

<h1 class="h3">Create Car</h1>
<hr>

<div class="row">
    <div class="col-md-8">
        <form asp-controller="Admin" asp-action="CarAdd" method="POST">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="CarName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="CarName">
                    <span asp-validation-for="CarName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Url" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Url">
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ModelYear" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="ModelYear">
                    <span asp-validation-for="ModelYear" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Marka</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(x=>x.Brand.BrandId,(List<SelectListItem>)ViewBag.Brands,new  {@class="form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Renk</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(x=>x.Color.ColorId,(List<SelectListItem>)ViewBag.Colors,new  {@class="form-control" })
                </div>
            </div>

            
            <div class="form-group row">
                <label asp-for="Description" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <textarea id="editor" class="form-control" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="DailyPrice" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="DailyPrice">
                    <span asp-validation-for="DailyPrice" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ImageUrl" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="ImageUrl">
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="IsApproved" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    @Html.RadioButtonFor(model => model.IsApproved, true)
                    <span>True</span>

                    @Html.RadioButtonFor(model => model.IsApproved, false)
                    <span>False</span>
                    <span asp-validation-for="IsApproved" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="IsHome" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    @Html.RadioButtonFor(model => model.IsHome, true)
                    <span>True</span>

                    @Html.RadioButtonFor(model => model.IsHome, false)
                    <span>False</span>
                    <span asp-validation-for="IsHome" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Save Car</button>
                </div>
            </div>
        </form>
    </div>
</div>

